@use './colors' as colors;

.editor--container {
  min-width: 300px;
  border: 2px solid colors.$accent-color;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  .editor--menu {
    border-radius: 5px 5px 0 0;
  }
}

.editor--container.reverse {
  flex-direction: column-reverse;

  .editor--menu {
    border-radius: 0 0 5px 5px;
  }
}
