@use './colors' as colors;

.editor--menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  gap: 2px;
  padding: .5em;
  background: colors.$primary-color;

  > :last-child {
    display: none;
  }

  button {
    border: none;
    background: none;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 12px;
    color: colors.$secondary-color;
    padding: 5px;

    > img {
      width: 18px;
    }
  }

  button:disabled {
    display: none;
  }

  button.is-active, button:hover {
    background: colors.$accent-color;
    cursor: pointer;
  }

  .divider {
    background-color: rgba(13,13,13,.1);
    height: 1.25rem;
    margin-left: .5rem;
    margin-right: .75rem;
    width: 2px;
  }
}
